.social-links {
  display: none;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  position: relative;
}

.social-link {
  color: var(--text);
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-link img {
  width: 32px !important;
  height: 32px !important;
}

.social-link img[alt="Discord"] {
  width: 58px !important;
  height: 32px !important;
}