
@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans%20Condensed");

main { border-radius: 1em; padding: 1em; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }

* { font-weight: normal !important; margin: 0; padding: 0; }

body, html { height: 100%; background-color: #000; color: #adadad; font-family: monospace; }

div { margin-left: auto; margin-right: auto; display: block; }

header { text-align: right; margin-top: 1em; }

header h2 { margin-top: 0.1em; font-style: italic; }

header h2 em { font-style: normal; }

main h1 { font-family: monospace; }

main h2, main p { margin-top: 0.8em; }

main em, main h2 { color: #cecece; }

ul { list-style-type: none; padding: 1em; }

ul li:before { color: #93a1a1; margin-left: -1em; }

ul li { margin-top: 15px !important; }

ul li strong { display: inline-block; }

span.hidden { font-size: 0%; }

.color-main { color: #ff5c57; }

a:link { color: inherit; }

a:visited { color: inherit; }

a[title] { border-bottom: 1px dashed #93a1a1; text-decoration: none; }

.load { margin: 0 auto; min-height: 100%; width: 100%; background: black; }

.term { font-family: monospace; color: #ffffff; opacity: 0.8; font-size: 1em; overflow-y: auto; overflow-x: hidden; padding-top: 10px; padding-left: 20px; }

.term:after { content: "_"; opacity: 1; animation: cursor 1s infinite; color: #ff5c57; }

.pfp {
    width: 110px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-brrr {
    width: calc(47% - 10px);
    border-radius: 2px;
    background-color: transparent;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    margin: 0 5px; 
}

.box-contain {
    display: flex;
    margin-top: 1em;
    width: 500px;
    text-align: center;
    justify-content: center;
}

.intial-container {
    margin-top: 100px;

}
.box-contain {
    flex-direction: column;
    align-items: center;
}

.click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}